.header {
  text-align: center;
  margin-bottom: 40px;
}
.input-container {
  text-align: center;
  margin-bottom: 100px;
  position: relative;
  width: 500px;
  height: 50px;
  margin: 0 auto;
}
.input-container input {
  position: absolute;
  width: 400px;
  padding: 5px 0;
  font-size: 24px;
  font-weight: 600;
  padding-left: 15px;
  left: 0;
  top: 0;
}
.input-container button {
  position: absolute;
  width: 85px;
  height: 42px;
  top: 0px;
  right: 0px;
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(78, 212, 66);
  color: white;
  border: none;
}
.todo-container {
  margin-top: 40px;
}
